/* Header*/
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

/* Logo*/
.logo {
  width: 120px;
}

.logo-container {
  align-self: center;
  margin-left: 20px;
}

/* Navigation Items*/
.nav-items > ul {
  display: flex;
  padding: 5px 10px;
  list-style: none;
  font-size: 24px;
}

.nav-items > ul > li {
  padding: 10px 10px;
  margin: 10px;
}

/* Login Button */

.login {
  padding: 0 20px;
  cursor: pointer;
}

/* Body*/

/* Search Bar */

.search {
  padding: 10px;
}
.filter {
  display: flex;
}
/* Restaurant Container */

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 25px;
}

.res-card {
  padding: 10px;
  width: 200px;
  height: 370px;
  background-color: #f0f0f0;
}

.res-logo {
  height: 40%;
  width: 100%;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-card > h4,
h3 {
  /* height: 2px; */
  padding: 0px;
  text-align: center;
}

/* Button */

.filter-btn {
  margin: 5px;
  cursor: pointer;
}

/* Shimmer Cards*/

.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 20px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
